.order-container {
    display: flex;
    height: 82vh;
    gap: 8px;

    .order-list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        border: 1px solid red;
        width: 70%;
        padding: 10px;

        .order {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            border: 1px solid rgb(173, 170, 170);
            border-radius: 15px;
            padding: 15px 5px;
            //background-color: rgb(235, 231, 231);
            background-color: #cfe3ff;

            img {
                width: 70px;
                height: 70px;
                border-radius: 10px;
            }

            .book-name {
                font-weight: 600;
            }

            .price {
                font-weight: 600;
                color: blue;
            }

            .quantity-input {
                width: 15%;
            }

            .total-price {
                font-weight: 600;
                color: blue;
                width: 15%;
            }

            .delete-btn {
                font-size: 20px;
                cursor: pointer;
            }
        }
    }

    .order-counting {
        border: 1px solid green;
        width: 30%;
        padding: 10px;

        .order-counting-board {
            display: flex;
            flex-direction: column;
            gap: 20px;
            //border: 1px solid blueviolet;
            border-radius: 5px;
            padding: 7px;
            height: 250px;
            background-color: #cfe3ff;

            .order-number {
                display: flex;
                justify-content: space-between;
                padding: 30px;
                // border: 1px solid red;
                border-radius: 5px;
                background-color: #ebf1fc;
                font-weight: 600;
                font-size: large;
                color: blue;
            }

            .total-price {
                display: flex;
                justify-content: space-between;
                padding: 30px;
                // border: 1px solid red;
                border-radius: 5px;
                background-color: #ebf1fc;
                font-weight: 600;
                font-size: large;
                color: blue;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .order-container {
        flex-direction: column;

        .order-list {
            width: 100%;

            .order {

                img {
                    width: 40px;
                    height: 40px;
                }

                .book-name {}

                .price {}

                .quantity-input {}

                .total-price {}

                .delete-btn {}
            }
        }

        .order-counting {
            width: 100%;

            .order-counting-board {


                .order-number {}

                .total-price {}
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .order-container {

        .order-list {
            .order {

                img {
                    width: 30px;
                }

                .book-name {}

                .price {}

                .quantity-input {}

                .total-price {}

                .delete-btn {}
            }
        }

        .order-counting {

            .order-counting-board {


                .order-number {}

                .total-price {}
            }
        }
    }
}