.user-search-container {
    margin-bottom: 10px;

    .user-search-input-group {
        display: flex;
        gap: 10px;

        .user-search-input {
            width: 32%;
        }
    }

    .user-search-button-group {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .btn-clear {
            margin-left: 5px;
            background-color: rgb(214, 214, 194);
            color: black;
        }
    }
}