.app-layout-admin {
    .header-admin {
        display: flex;
        justify-content: space-between;

        .header-account {
            margin-right: 20px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .child-layout {
        align-items: flex-start;
    }
}