.homepage-container {

    height: 80vh;

    .homepage-leftside {
        //border: 1px solid red;
        height: 100%;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .homepage-rightside {
        border: 1px solid green;
        height: 100%;

        .book-list {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 20px;
        }

        .pagination {
            margin-top: 25px;
            text-align: center;
        }
    }
}