.header-container {
    display: flex;
    gap: 10px;
    align-items: center;
    //background-color: rgb(201, 255, 255);

    //justify-content: space-between;
    .header-drawer-icon {
        display: none;
        font-size: 40px;
        cursor: pointer;
    }

    .header-icon {
        color: rgb(0, 204, 255);
        font-size: 35px;
        cursor: pointer;
        margin-left: 10px;
    }

    .header-title {
        color: rgb(0, 204, 255);
        font-size: 30px;
        cursor: pointer;
    }

    .header-search {
        width: 60%;
        margin-left: 20px;

    }

    .header-cart-icon {
        cursor: pointer;
        margin-left: 20px;
    }

    .header-account {
        margin-left: 20px;
        cursor: pointer;
        color: rgb(0, 204, 255);
        display: flex;
        gap: 5px;
        padding-right: 15px;
        align-items: center;
    }

}


@media screen and (max-width: 700px) {
    .header-container {

        .header-drawer-icon {
            display: block;
        }

        .header-icon {
            display: none;
        }

        .header-title {
            display: none;
        }

        .header-account {
            display: none
        }
    }

}