.header-container {
    display: flex;
    gap: 10px;
    align-items: center;
    //background-color: rgb(201, 255, 255);

    //justify-content: space-between;
    .header-icon {
        color: rgb(0, 204, 255);
        font-size: 35px;
        cursor: pointer;
        margin-left: 10px;
    }

    .header-title {
        color: rgb(0, 204, 255);
        font-size: 30px;
        cursor: pointer;
    }

    .header-search {
        width: 60%;
        margin-left: 20px;

    }

    .header-cart-icon {
        cursor: pointer;
        margin-left: 20px;
    }

    .header-account {
        margin-left: 20px;
        cursor: pointer;
        color: rgb(0, 204, 255);
    }
}