.create-book-modal {
    .text-input-group {
        display: flex;
        gap: 10px;

        .text-input {
            width: 50%;
        }
    }

    .number-input-group {
        display: flex;
        gap: 5px;

        .number-input {
            width: 25%;
        }
    }

    .upload-input-group {
        display: flex;
        justify-content: center;
    }
}